.main {
  width: 80%;
  height: 800px;
  background-color: rgb(130, 160, 95);
  margin: auto;
  position: relative;
}

.parent {
  width: 90%;
  height: 150px;
  background-color: black;
  margin: auto;
  position: relative;
  top: 20px;
}

.subparent {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 15px;
  left: 15px;
}
.box1 {
  width: 150px;
  height: 100px;
  background-color: aqua;
  margin: 10px;
}
.box2 {
  width: 150px;
  height: 100px;
  background-color: rgb(34, 202, 62);
  margin: 10px;
}
.box3 {
  width: 150px;
  height: 100px;
  background-color: rgb(181, 199, 24);
  margin: 10px;
}

.subparent-1 {
  width: 300px;
  height: 100px;
  background-color: rgb(219, 112, 24);
  display: flex;
  flex-direction: row;
  float: right;
  position: relative;
  bottom: 96px;
  right: 20px;
}

.div1 {
  width: 100px;
  height: 60px;
  background-color: rgb(68, 25, 185);
  margin: 20px;
}
.div2 {
  width: 100px;
  height: 60px;
  background-color: rgb(177, 140, 21);
  margin: 20px;
  position: relative;
  left: 25px;
}

.parent1 {
  width: 250px;
  height: 370px;
  background-color: aqua;
  margin: 50px;
  position: relative;
}
.b1 {
  width: 200px;
  height: 150px;
  background-color: blueviolet;
  margin: auto;
  position: relative;
  top: 20px;
}
.b2 {
  width: 200px;
  height: 150px;
  background-color: rgb(24, 120, 247);
  margin: auto;
  position: relative;
  top: 50px;
}

.parent2 {
  width: 650px;
  height: 200px;
  background-color: red;
  margin: auto;
  position: relative;
  bottom: 420px;
  left: 150px;
}
.subparent-2 {
  display: flex;
  flex-direction: row;
}
.child1 {
  width: 150px;
  height: 150px;
  background-color: greenyellow;
  margin: auto;
  position: relative;
  top: 25px;
}
.child2 {
  width: 150px;
  height: 150px;
  background-color: rgb(15, 149, 211);
  margin: auto;
  position: relative;
  top: 25px;
}
.child3 {
  width: 150px;
  height: 150px;
  background-color: rgb(207, 23, 198);
  margin: auto;
  position: relative;
  top: 25px;
}
.parent3 {
  width: 650px;
  height: 150px;
  background-color: brown;
  margin: auto;
  position: relative;
  bottom: 400px;
  left: 150px;
}
.subparent-3 {
  display: flex;
  flex-direction: row;
}
.child4 {
  width: 150px;
  height: 100px;
  background-color: rgb(45, 245, 62);
  margin: auto;
  position: relative;
  top: 25px;
}
.child5 {
  width: 150px;
  height: 100px;
  background-color: rgb(21, 58, 221);
  margin: auto;
  position: relative;
  top: 25px;
}
.child6 {
  width: 150px;
  height: 100px;
  background-color: rgb(210, 241, 70);
  margin: auto;
  position: relative;
  top: 25px;
}
.footer {
  width: 90%;
  height: 150px;
  background-color: black;
  margin: auto;
  position: relative;
  bottom: 350px;
}
